.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 10px;
    border-color: #1B7AA6;
    border: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: #1B7AA6;
    border: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #ffffff !important;
    color: #1B7AA6;
    border-color: #1B7AA6;
  }
  
  .Button:active {
    background-color: #ffffff !important;
    color: #1B7AA6;
    border-color: #1B7AA6;
  }
  
  .Button:focus {
    background-color: #ffffff;
    color: #1B7AA6;
    border-color: #1B7AA6;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #ffffff;
    color: #1B7AA6;
    border: solid 2px;
    border-color: #1B7AA6;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #1B7AA6;
    border-color: #1B7AA6;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #1B7AA6 !important;
    color: #ffffff;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #1B7AA6;
    color: #1B7AA6;
  }
  
  .Bright {
    background-color: #1B7AA6;
    color: #ffffff;
    border-color: #1B7AA6;
  }