.Row {
  height: calc(100vh - 81px);
}

.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
  color: #1B7AA6;
  text-align: center;
  padding: 10px;
}

.FormGroup {
  margin-bottom: 20px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1B7AA6;
  margin-bottom: 22px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #ff9254;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}